$eu-r:212;
$eu-g:85;
$eu-b:15;
$eu-color:rgb($eu-r, $eu-g, $eu-b);
$us-r:180;
$us-g:31;
$us-b:31;
$us-color:rgb($us-r, $us-g, $us-b);

$r-value:$eu-r;
$g-value:$eu-g;
$b-value:$eu-b;
$conference-color:$eu-color;
        
.color0 {
    background-color: $conference-color;
}
.color1 {
    background-color: #CCCCCC;
}
.color2 {
    background-color: #0000FF;
}
