<section id="about" class="semitransparentbg pageheader-default text-center" ng-controller="CrewCtrl">

<div  class="container page-description">
    <h1 class="large">GR8Conf Crew</h1>
    <h3>Organizer and co-founder</h3>
    <div class="row">
        <div class="col-md-4"></div>
        <crew item="leader"/>
    </div>
    <h3>Crew members</h3>
    <div  ng-repeat="crewGroup in crew">
        <div class="row">
            <div ng-repeat="member in crewGroup">
                <crew item="member"/>
            </div>
        </div>
    </div>

</div>

</section>
