<div class="blogEntry col-md-4" id="blog{{post.id}}">

    <accordion  >
        <accordion-group is-open="false" >
            <accordion-heading>
                <div class="detail" >
                    <h4><strong>{{post.title}}</strong></h4>
                </div>
            </accordion-heading>
            <div class="text-right"><small>{{formatDate(post.date)}}</small></div>

            <div class="text-left">
                <div class="panel-content">
                <p ng-bind-html="post.body"></p>
                </div>
                <div class="text-right"><button ng-click="readBlog(post.id)" class="btn btn-conference btn-xs">Read more...</button></div>

            </div>

        </accordion-group>
    </accordion>
</div>
