<section id="blog" class="pageheader-default text-center dark" ng-controller="BlogCtrl">
    <div class="container animated fadeInUpNow notransition">
        <h1>Blog</h1>

        <div class="row">
            <div class="col-sm-1">
                <button class="btn btn-conference btn-lg" ng-show="showNewer" ng-click="showBlogs(offset-3)">
                    <i class="glyphicon glyphicon-circle-arrow-left"></i>
                </button>
            </div>
            <div class="col-sm-10">
                <h3>Recent posts from our blog</h3>

            </div>
            <div class="col-sm-1">
                <button class="btn btn-conference btn-lg " ng-show="showOlder" ng-click="showBlogs(offset+3)">
                    <i class="glyphicon glyphicon-circle-arrow-right"></i>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12  animated slidea notransition">
                <div class="row">
                    <div ng-repeat="post in posts">
                        <blog post="post"></blog>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
