<p>
    <a href="http://flexbillet.dk/gr8conf/event/52138978666358324599351dd4d0c1c07f77b95517774ae" target="_blank" class="btn btn-conference btn-lg"
       ng-click="registerClick('Forward','Register')">Register
        NOW!</a></p>

<p>
    <small><a data-toggle="collapse" data-target="#priceinfo" ng-click="registerClick('Unfold','Priceinfo')">
        Show price info</a></small>
</p>


<div id="priceinfo" class="row collapse" ng-view="showPriceInfo">
    <div class="col-lg-8 col-lg-push-2">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>University day (June 2)</th>
                    <th>Conference days (June 3+4)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Early Bird<sup>*</sup></th>
                    <td class="text-right">€290</td>
                    <td class="text-right">€444</td>
                </tr>
                <tr>
                    <th>Regular</th>
                    <td class="text-right">€430</td>
                    <td class="text-right">€660</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3" class="text-muted smaller">
                        *) Early Bird ends on April 14th.<br/>
                        All prices are without Danish VAT (Moms). Companies in Denmark will have VAT
                        added, registered companies in the EU (not Denmark) and companies outside
                        the EU will not have added VAT. The payment is subject to reverse charge as described
                        <a href="http://ec.europa.eu/taxation_customs/vies/">here</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="text-muted smaller">
                        Registration is handled by <a href="http://flexbillet.dk">Flexbillet</a>. It's possible to
                        pay by creditcard or by invoicing (bank transfer). If you have any questions or problems, please
                        contact
                        <a href="mailto:registration@gr8conf.org?subject=Registration+problem">registration@gr8conf.org</a>
                    </td>
                </tr>


                </tfoot>
            </table>

        </div>
    </div>
</div>