<section id="when" class="where-when pageheader-default text-center">
    <h1 class="large">When and where?</h1>

    <div class="container page-description">

        <h3>June 2-4, 2014</h3>

        <p><a href="https://maps.google.dk/maps?q=IT-University,+Copenhagen,+Denmark" target="_blank">IT-University,
            Copenhagen, Denmark</a>.
        </p>


    </div>
    <h1 class="large">Rate and Win</h1>

    <div class="container page-description">

        <p>Talks and speakers can be rated by logging in and clicking the heart by the presentation.
        </p>
        <p>
            The
            conference can be rated on <a href="http://bit.ly/eval-gr8conf-2014" target="_blank">http://bit.ly/eval-gr8conf-2014</a>.</p>
        <p>For every rating you get another chance to win a GR8Conf 2015 ticket!</p>


    </div>


</section>
