<div class="calendar">
    <div class="calendar-hours">
        <div class="calendar-hour" ng-repeat="hour in agendaHours" style="top: {{hour.top}}px; ">
            {{hour.text}}
        </div>
    </div>
    <div ng-repeat="block in agendaDay.blocks" class="calendar-block" style="top: {{block.top}}px; height: {{block.bottom-block.top}}px; margin-top: {{day.offset}}px">
        <div ng-repeat="track in block.tracks" class="calendar-track" style="width: {{track.width}}; ">
            <div ng-repeat="schedule in track.schedules" class="calendar-schedule" style="top: {{schedule.top}}px; max-height: {{schedule.bottom-schedule.top}}px; height: {{schedule.bottom-schedule.top}}px; color: {{track.textColor}};background-color: {{track.backgroundColor}};" >
                <div class="calendar-schedule-box" ng-click="selectSchedule(schedule.presentation.name)" stared="{{ schedule.presentation.uri }}">
                    <div class="calendar-schedule-time">{{schedule.displayTime}}:</div>

                    <div class="calendar-schedule-text"><strong>{{schedule.title}}</strong></div>
                </div>
            </div>
        </div>
    </div>
 </div>
