<div class="modal-header">
    <h3>An error occured</h3>
</div>
<div class="modal-body">
    <div class="alert alert-warning">{{message}}

        <br/><br/>
        Sorry, this is all we know....
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Close</button>
</div>