<div class="modal-header">
    <h3>Twitter login requires extra info</h3>
</div>
<div class="modal-body">
    <p>
        To log you in with twitter we also need your name and email address
    </p>

    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>

            <div class="col-sm-10">
                <input class="form-control" id="name" placeholder="Your name" ng-model="input.name" ng-required="">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>

            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" placeholder="Your email" ng-model="input.email" ng-required="">
            </div>
        </div>
    </form>

</div>
<div class="modal-footer">

    <button class="btn btn-info" ng-click="save()">Login</button>
    <button class="btn btn-default" ng-click="cancel()">Close</button>
</div>