<div class="modal-header">
    <img src="/images/sponsors/cygnet-infotech-188x53.png"/>
</div>
<div class="modal-body">
    <p>Cygnet is one of the leading Grails development and consulting service providers from the India. We have a large team of Expert Grails Developers on board who are adept at developing innovative web and enterprise applications using Groovy and Grails ecosystems.</p>

    <p>We are Oracle Gold Partner and Java EE 6 Specialist for our commitment and dedication in providing innovative solutions and services on Java platform. We possess a proven track record in delivering solutions for billing, healthcare, real estate, e-commerce and print media domains.</p>

    <p>Cygnet Infotech is a leading IT services company with a development in Java, Microsoft, mobile technologies with center in Ahmedabad, India and regional office in USA and now expanding to Australia and South Africa. At Cygnet our mantra is '<em>IT is about you</em>' and we mean it!</p>
</div>
<div class="modal-footer">

    <button class="btn btn-info" ng-click="openLink('http://www.cygnet-infotech.com/')">Visit www.cygnet-infotech.com
    </button>
    <button class="btn btn-default" ng-click="cancel()">Close</button>
</div>