<div class="modal-header">
    <img src="/images/sponsors/pivotal_250x70.png"/>
</div>
<div class="modal-body">
    <p>Pivotal is building a new platform for a new era, setting the standard for Enterprise Platform- as-a-Service
        (PaaS). The company’s mission is to enable customers to build a new class of applications, leveraging big and
        fast data, doing all of this with the power of cloud independence.</p>

    <p>Uniting selected technology, people and programs from EMC and VMware, the following products and services are now
        part of Pivotal: Greenplum®, Cloud Foundry, Spring, Cetas, Pivotal Labs®, GemFire® and other products from the
        VMware vFabricTM Suite.</p>

    <p>Powered by new data fabrics, Pivotal One is a complete, next generation Enterprise Platform-as-a-Service that
        makes it possible, for the first time, for the employees of the enterprise to rapidly create consumer-grade
        applications. To create powerful experiences that serve a consumer in the context of who they are, where they
        are, and what they are doing in the moment. To store, manage and deliver value from fast, massive data sets. To
        build, deploy and scale at an unprecedented pace.</p>

    <p>Pivotal One integrates these sophisticated new data fabrics with modern programming frameworks and cloud
        independence in a single, united platform. </p>
</div>
<div class="modal-footer">

    <button class="btn btn-info" ng-click="openLink('http://gopivotal.com')">Visit www.gopivotal.com</button>
    <button class="btn btn-default" ng-click="cancel()">Close</button>
</div>