<div class="crew col-xs-12 col-md-4" id="speaker{{item.id}}">

    <div class="panel">
        <div class="panel-heading">
        <div class="crewDetail">
            <img src="/assets/crew/{{item.image}}" class="crewImg img-circle pull-left"/>
            <h4 class="name"><strong>{{item.name}}</strong></h4>
            <p class="small employer"><a href="{{item.link}}">{{item.employer}}</a></p>
                <a class="icon icon-twitter" href="http://twitter.com/{{item.twitter}}"> {{item.twitter}}</a>
        </div>
        </div>
    </div>
</div>
