<a ng-show="isEnabled" class="favorite-icon" ng-click="toggleFavorite($event)">
    <span class="fa-stack fa-lg" tooltip="{{tooltip}}" tooltip-append-to-body="true">
          <i class="fa fa-star {{icon}} fa-stack-1x"></i>
          <i class="black fa fa-star-o fa-stack-1x"></i>
    </span>
</a>

