<a ng-show="isEnabled" class="rating-icon" ng-click="openRating($event)">
    <span class="fa-stack fa-lg" tooltip="{{tooltip}}" tooltip-append-to-body="true">
          <i class="fa fa-heart {{icon}} fa-stack-1x"></i>
          <i class="black fa fa-heart-o fa-stack-1x"></i>
    </span>
</a>

